.card
{
    width: 1000px;
}
.hole
{
    padding-top: 50px;
padding-left: 500px;}
.timings
{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    gap: 50px;
    padding-left: 200px;
}
.button
{
    cursor: pointer;
    text-align: center;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    color: rgb(68, 212, 68);
}

