<div class="hole">
  <mat-card appearance="outlined" class="card">
    <mat-card-content>
      <div>
        <div class="head">
          <h1>{{ ticketsData.movieName }}</h1>
        </div>
        <h2>Date:</h2>
        <h4>{{ ticketsData.date }}</h4>
        <div>
          <h3>Select Available Theaters:</h3>
          @for (ite of ticketsData.availableTheaters; track $index) {
          <i class="fa-solid fa-film"></i>
          <h2>Theater: {{ ite.theaterName }}</h2>
          <div class="timings">
            @for (item of ticketsData.timings; track $index) {
            <div
              class="button"
              (click)="selectTiming(item, ite.theaterName)"
              [ngClass]="{
                selected:
                  selectedData.theaterName === ite.theaterName &&
                  selectedData.timing === item
              }"
            >
              <mat-card appearance="outlined">
                <mat-card-content>
                  <h4 class="time">{{ item }}</h4>
                </mat-card-content>
              </mat-card>
            </div>
            }
          </div>
          }
        </div>
      </div>
      <br />
      <button
        mat-raised-button
        [disabled]="!selectedData.timing"
        style="background-color: #f84464"
        (click)="navigateTo()"
      >
        Book Ticket
      </button>
    </mat-card-content>
  </mat-card>
</div>
