.movie-list-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: space-evenly;
    margin:10px 10px;
    overflow-y: auto;
  }
//   div{
//     display: flex;
//     flex-wrap: wrap;
//     gap:30px;
//     justify-content: space-evenly;
//     padding-top: 10px;
// }
.input
{
    place-content: center;
    text-align: center;
    border-radius: 10px;
}
.example-form {
    min-width: 500px;
    max-width: 1000px;
    width: 100%;
  }
  
  .example-full-width {
    width: 500px;
  }

  .button1 {
    top: 10%;
    left: 3%;
    cursor: pointer;
    color: White;
    width: 10%;
    font-size: 2rem;
    position: absolute;
    border: none;
    background-color: transparent;
  }
  .button2 {
    top: 10%;
    right: 3%;
    cursor: pointer;
    color: white;
    width: 10%;
    font-size: 2rem;
    position: absolute;
    border: none;
    background-color: transparent;
  }
  .container {
    display: flex;
    justify-content: center;
  }
  img {
    width: 90vw;
  }
  
  .hole
  {
    min-height: 90vh;
    overflow-y: auto;




  }




  .form {
  padding-top: 20px;
  border-radius: 10px;
  }

  //   display: flex;
  //   align-items: center;
  //   background-color: #f9f9f9;
  //   border-radius: 30px;
  //   border: 1px solid black;
  //   padding: 5px 15px;
  //   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  //   max-width: 350px;
  //   margin: 0 auto;
  //   margin-top: 20px;
  //   margin-bottom: 20px;
  // }