<div class="hole">
  <div class="input">
    <form [formGroup]="searchForm" class="form">
      <mat-form-field class="example-full-width">
        <input
          matInput
          placeholder="search for Movies"
          formControlName="search"
        />
      </mat-form-field>
    </form>
    <app-banner-carousel />
  </div>
  <div style="padding-top: 30px">
    <!-- <h1 style="font-weight: bold">Recommended Movies< /h1> -->
  </div>
  <br />
  <section class="movie-list-container">
    @if(isLoading){
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    } @for (movie of moviesList; track movie.movieId){
    <app-movie
      [movie]="movie"
      [id]="movie.movieId"
      (deleteMovieEvent)="deleteMovie($event)"
      (editMovieEvent)="editMovie($event)"
    />
    }
  </section>
</div>
