<nav class="navigation">
  <div class="icon">
    <div>
      <img
        width="70px"
        height="70px"
        src="https://cdn-icons-png.flaticon.com/128/3507/3507102.png"
        alt=""
      />
    </div>
    <div>
      <h1>CINEMA</h1>
    </div>
  </div>
  <ul>
    <!-- <a routerLink="/">Home</a> -->
    @if(!loginService.loginSuccess) {
    <a routerLink="/login">Login</a>
    } @else {
    <a routerLink="/logout">Logout</a>
    }
    <!-- <a routerLink="/signup">Signup</a> -->
    <a routerLink="/movies">Movies</a>
    <a routerLink="/history">History</a>
    <a routerLink="/addmovie">AddMovie</a>
    <!-- @if(loginService.loginSuccess) {
    <a routerLink="/logout">Logout</a>
    } -->
  </ul>
</nav>
<router-outlet />
