<nav class="navigation">
  <div class="icon">
    <i class="fa-sol fa-utensils"></i>
  </div>
  <ul>
    <a routerLink="/">Home</a>
    @if(!loginService.loginSuccess) {
    <a routerLink="/login">Login</a>
    } @else {
    <a routerLink="/logout">Logout</a>
    }
    <!-- <a routerLink="/signup">Signup</a> -->
    <a routerLink="/movies">Movies</a>
    <a routerLink="/history">History</a>
    <a routerLink="/addmovie">AddMovie</a>
    <!-- @if(loginService.loginSuccess) {
    <a routerLink="/logout">Logout</a>
    } -->
  </ul>
</nav>
<router-outlet />
