<div class="main-container">
  <div
    class="movie"
    [ngStyle]="{
      'background-image':
        'linear-gradient(to right, black 20%, transparent 50%), url(' +
        background +
        ')',
      height: '65vh',
      width: '100vw',
      'background-size': 'cover',
      'background-position': 'center',
      'background-repeat': 'no-repeat',
      color: 'white',
      'padding-top': '100px'
    }"
  >
    <div class="poster">
      <div class="inside">
        <div class="image">
          <img [src]="movie.poster" alt="" />
        </div>
        <div class="content">
          <div>
            <h1>{{ movie.title }}</h1>
          </div>
          <div class="rating">
            <!-- your-component.component.html -->
            <h2>
              <i class="fa-solid fa-star" style="color: #f84464"></i>
              ⭐ {{ movie.ratings }}
            </h2>
          </div>
          <div class="language">
            <h2>
              {{ movie.language }}
            </h2>
          </div>
          <div class="time">
            <h3>{{ movie.duration }}</h3>
            •
            <h3>{{ movie.genre }}</h3>
            •
            <h3>{{ movie.releaseDate }}</h3>
          </div>
          <div class="ticket">
            <h2>
              <button
                style="background-color: rgb(248, 68, 100)"
                mat-flat-button
                routerLink="/movies/booktickets/{{ id }}"
              >
                Book Ticket
              </button>
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="about">
    <h2 style="font-size: xx-large; font-weight: bold">About the Movie</h2>
    {{ movie.synopsis }}
  </div>
  <div class="cast">
    <div>
      <h2 style="font-size: xx-large; font-weight: bold">Cast</h2>
    </div>
    <div class="loop">
      @for (item of movie.cast; track $index) {
      <div class="info">
        <div>
          <img
            [src]="item.profilePic"
            alt=""
            style="height: 200px; width: 200px; border-radius: 50%"
          />
        </div>
        <div>
          <h3>{{ item.name }}</h3>
          <p>Actor</p>
        </div>
      </div>
      }
    </div>
  </div>
</div>
