<div class="signup">
  <mat-card appearance="outlined">
    <mat-card-title style="color: #f84464">Signup</mat-card-title>
    <mat-card-content>
      <br />
      <p>Please Signup to proceed</p>
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <mat-form-field style="width: 300px">
          <mat-label>Username</mat-label>
          <input matInput type="text" formControlName="userName" />
          @if(userName?.touched && userName?.hasError('required') ){
          <mat-error>Name is <strong>required</strong></mat-error>
          }
        </mat-form-field>
        <br />
        <mat-form-field style="width: 300px">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" />
          @if(password?.touched && password?.hasError('required') ){
          <mat-error>password is <strong>required</strong></mat-error>
          }
        </mat-form-field>
        <br />
        <mat-form-field style="width: 300px">
          <mat-label>conform Password</mat-label>
          <input matInput type="password" formControlName="conformPassword" />
          @if(password?.touched && password?.hasError('required') ){
          <mat-error>password is <strong>required</strong></mat-error>
          }
        </mat-form-field>
        <br />
        <button
          mat-raised-button
          color="primary"
          type="submit"
          style="width: 300px; background-color: #f84464; border-radius: 10px"
        >
          Signup
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
