.card
{
    padding-left: 10px;
    width: 900px;
    background-color: antiquewhite;
    border-radius: 20px;
}
.main
{
    padding-top: 80px;
    padding-left: 600px;
    place-content: center;
}
.centered-text {
    padding-top: 50px;
    text-align: center;
    margin: 0; /* Optional: remove default margin */
  }
  .flex
  {
    display: flex;
    justify-content: space-between;
  }