.main
{
    padding-top: 100px;
    place-items: center;
    padding-left: 700px;
    text-align: center;
}
.card
{
    width: 400px;
}


.login-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    text-align: center;
    padding-top: 150px;
  }
  
  mat-card {
    padding: 20px;
  }
  
  button {
    margin-top: 20px;
  }
  