<div class="login-container">
  <mat-card appearance="outlined">
    <mat-card-title style="color: #3f51b5">Login</mat-card-title>
    <mat-card-content>
      <br />
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput type="text" formControlName="userName" />
          @if(userName?.touched && userName?.hasError('required') ){
          <mat-error>Name is <strong>required</strong></mat-error>
          }
        </mat-form-field>
        <br />
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" />
          @if(password?.touched && password?.hasError('required') ){
          <mat-error>password is <strong>required</strong></mat-error>
          }
        </mat-form-field>
        <br />
        <button mat-raised-button color="primary" type="submit">Login</button>
      </form>
      <br />
      <p>Don't have an account? <a href="/signup">Signup</a></p>
    </mat-card-content>
  </mat-card>
</div>

<!-- <div class="login-container">
  <mat-card appearance="outlined">
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <br />
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" />
          <mat-error *ngIf="loginForm.controls.username.hasError('required')">
            Username is required
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" />
          <mat-error *ngIf="loginForm.controls.password.hasError('required')">
            Password is required
          </mat-error>
        </mat-form-field>
        <br />
        <button mat-raised-button color="primary" type="submit">Login</button>
      </form>
    </mat-card-content>
  </mat-card>
</div> -->
