<div style="padding-right: 300px; padding-left: 0px">
  <div class="login-container">
    <mat-card appearance="outlined" style="width: 830px; height: 420px">
      <mat-card-title
        style="color: #f84464; padding-right: 320px; padding-top: 25px"
        >Login</mat-card-title
      >
      <mat-card-content class="hole">
        <br />
        <div style="height: 370px; padding-top: 55px; padding-left: 20px">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <mat-form-field style="width: 300px">
              <mat-label>Username</mat-label>
              <input matInput type="text" formControlName="userName" />
              @if(userName?.touched && userName?.hasError('required') ){
              <mat-error>Name is <strong>required</strong></mat-error>
              }
            </mat-form-field>
            <br />
            <mat-form-field style="width: 300px">
              <mat-label>Password</mat-label>
              <input matInput type="password" formControlName="password" />
              @if(password?.touched && password?.hasError('required') ){
              <mat-error>password is <strong>required</strong></mat-error>
              }
            </mat-form-field>
            <br />
            <button
              mat-raised-button
              color="primary"
              type="submit"
              style="
                width: 300px;
                background-color: #f84464;
                border-radius: 10px;
              "
            >
              Login
            </button>
          </form>
          <br />
          <p>Don't have an account? <a href="/signup">Signup</a></p>
        </div>
        <div>
          <img
            width="480px"
            src="https://static.vecteezy.com/system/resources/thumbnails/003/689/228/small/online-registration-or-sign-up-login-for-account-on-smartphone-app-user-interface-with-secure-password-mobile-application-for-ui-web-banner-access-cartoon-people-illustration-vector.jpg"
            alt=""
          />
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<!-- <div class="login-container">
  <mat-card appearance="outlined">
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <br />
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" />
          <mat-error *ngIf="loginForm.controls.username.hasError('required')">
            Username is required
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" />
          <mat-error *ngIf="loginForm.controls.password.hasError('required')">
            Password is required
          </mat-error>
        </mat-form-field>
        <br />
        <button mat-raised-button color="primary" type="submit">Login</button>
      </form>
    </mat-card-content>
  </mat-card>
</div> -->
