<!-- <div class="main">
  <mat-card appearance="outlined" class="card">
    <mat-card-content>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>User Name</mat-label>
          <input matInput placeholder="" value="" />
        </mat-form-field>

        <br />
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput placeholder="" value="" />
        </mat-form-field>
      </form>
      <br />
      <button mat-raised-button>Login</button>
    </mat-card-content>
  </mat-card>
</div> -->

<div class="login-container">
  <mat-card appearance="outlined">
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <br />
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" />
          <mat-error *ngIf="loginForm.controls.username.hasError('required')">
            Username is required
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" />
          <mat-error *ngIf="loginForm.controls.password.hasError('required')">
            Password is required
          </mat-error>
        </mat-form-field>
        <br />
        <button mat-raised-button color="primary" type="submit">Login</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
